{{!-- Metadata for front-end and connections of stylesheets --}}

<head>
    <meta charset="UTF-8">
    <title>Chronoscape</title>
    <link rel="stylesheet" href="/css/jass.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    {{!--
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    --}}
</head>


<body>
    {{!-- <video autoplay muted loop id="myVideo">
        <source src="/video/pexels_videos_3867 (1080p).mp4" type="video/mp4">
    </video> --}}
    <div class="loader">
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
    </div>

    <div class="hero-sec" style="display: none;">
        <img class="darken" id="background-image" src=""></img>
        <header class="animate__animated animate__rollIn">
            <h1 class="title_name">
                Chronoscape
            </h1>
    <nav>
        {{#if logged_in}}
        <a href="/" class="main-button">Main</a> |
        <a href="/profile" class="profile-button">Profile</a> |
        <button class="no-button" id="logout">logout</button>
        {{/if}}
    </nav>
        </header>
    </div>

    <main class="main-body" style="display: none;">
        {{!-- <div class="animate__animated animate__backInLeft">
            <div class="card__inner">
                <div class="card__face card__face--front">
                    {{{ body }}}
                </div>
                <div class="card__face card__face--back">
                    <div class="card__content">
                        <div class="card__header">
                            <div class="card__body">
                                {{{ body }}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> --}}
        {{{ body }}}
    </main>
    {{!--
    <main class="card animate__animated animate__backInDown">
        <div class="card__inner2">
            <div class="card__face card__face--front">
                {{{ body }}}

            </div>
            <div class="card__face card__face--back">
                <div class="card__content">
                    <div class="card__header">
                        <div class="card__body">
                            {{{ body }}}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <main class="card animate__animated animate__backInRight">
        <div class="card__inner3">
            <div class="card__face card__face--front">
                {{{ body }}}
            </div>
            <div class="card__face card__face--back">
                <div class="card__content">
                    <div class="card__header">
                        <div class="card__body">
                            {{{ body }}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main> --}}

    <script src="https://code.jquery.com/jquery-3.7.0.js"
        integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>
    <script type="module" src="/js/background.js"></script>

{{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}

</body>

</html>