<div class="slide" style="color: white;" data-user_id="{{user.id}}">
  <p id="description">As you turn to take the portal behind you back home, another portal opens up behind you! You turn and look, and the traveler comes rushing through the portal. This is your chance! It's time to take a stand and end this chase once and for all!</p>
  <button class="newEnding">Next</button>
</div>

{{!-- Shows first question --}}
<div class="ending-box" id="ending-void" style="display: none;">
  <p class="ending">{{ending.[0].endingText}}</p>
  <p class="ending">{{ending.[0].endingType}}</p>
  <button class="continue">Continue</button>
</div>

<div class="ending-box" id="ending-MPF" style="display: none;">
  <p class="ending">{{ending.[1].endingText}}</p>
  <p class="ending">{{ending.[1].endingType}}</p>
  <button class="continue">Continue</button>
</div>

<div class="ending-box" id="ending-traveler" style="display: none;">
  <p class="ending">{{ending.[2].endingText}}</p>
  <p class="ending">{{ending.[2].endingType}}</p>
  <button class="continue">Continue</button>
</div>

<div class="ending-box" id="ending-good" style="display: none;">
  <p class="ending">{{ending.[3].endingText}}</p>
  <p class="ending">{{ending.[3].endingType}}</p>
  <button class="continue">Continue</button>
</div>


<script type="module" src="/js/endings.js"></script>
