<div class="slide" style="color: white;" data-user_id="{{user.id}}">
  <p id="description">As you turn to take the portal behind you back home, another portal opens up behind you! You turn and look, and the traveler comes rushing through the portal. This is your chance! It's time to take a stand and end this chase once and for all!</p>
  <button class="newEnding">Next</button>
</div>

{{!-- Shows first question --}}
<div id="ending-void" style="display: none;">
  <p>{{ending.[0].endingType}}</p>
  <p>{{ending.[0].endingText}}</p>
</div>

<div id="ending-MPF" style="display: none;">
  <p>{{ending.[1].endingType}}</p>
  <p>{{ending.[1].endingText}}</p>
</div>

<div id="ending-traveler" style="display: none;">
  <p>{{ending.[2].endingType}}</p>
  <p>{{ending.[2].endingText}}</p>
</div>

<div id="ending-good" style="display: none;">
  <p>{{ending.[3].endingType}}</p>
  <p>{{ending.[3].endingText}}</p>
</div>

{{!-- <script src="/js/background.js"></script> --}}
<script type="module" src="/js/endings.js"></script>
{{!-- <script src="/js/logic.js"></script> --}}
