{{!-- Shows all questions --}}
{{!-- {{#each questions}}
  <h2>Question: {{this.question}}</h2>
  <ul>
    {{#each this.answers}}
      <li>Answer: {{this.answerChoice}}</li>
    {{/each}}
  </ul>
{{/each}} --}}

{{!-- Shows first quesiton --}}
<div id="question-container">
  <h2>Question: {{questions.[0].question}}</h2>
  <ul>
    {{#each questions.[0].answers}}
      <li>
        <Button class="next" data-answer_id={{this.id}}>Answer Choice: {{this.answerChoice}}</Button>
        <ul>
          <li>Location Title: {{this.location.locationTitle}}</li>
          <li>Location Data: {{this.location.locationData}}</li>
          {{#if this.ChildAnswers}}
            <ul>
              {{#each this.ChildAnswers}}
                <li>
                  <Button class="next" data-answer_id={{this.id}}>Child Answer Choice: {{this.answerChoice}}</Button>
                  <ul>
                    <li>Child Location Title: {{this.location.locationTitle}}</li>
                    <li>Child Location Data: {{this.location.locationData}}</li>
                  </ul>
                </li>
              {{/each}}
            </ul>
          {{/if}}
        </ul>
      </li>
    {{/each}}
  </ul>
</div>

<script src="/js/homepage2.js"></script>
{{!-- <script src="/js/logic.js"></script> --}}
