   {{#if logged_in}}
<!-- First slide -->
<div class="slide" style="color: white;" data-user_id="{{user.id}}">
  <h1 id ="title">Welcome to the Multiverse Protection Force, or MPF, for short.</h1>
  <p id="description">Welcome {{user.name}}! You are a seasoned MPF agent that has successfully removed numerous threats to the multiverse. As a result, the MPF trusts you to handle one of their biggest threats yet. Stopping a former MPF Agent from destroying the Space-Time Continuum. Your mission objective in simple, find the Multiversal Traveler, apprehend them, and bring them back to MPF. Alive.</p>
  <button class="next-button-first-slide">Next</button>
</div>


{{!-- Shows first question --}}
<div id="parentAnswer-container" style="display: none;">
  <h2 class="main-question">Question:</h2>
  <h2 class="main-question"> {{questions.[0].question}}</h2>
  <ul class="answerChoices">
    {{#each questions.[0].answers}}
      <li style="display:inline-block;">
        <Button class="card">
          <div class="content-container">
            <p>{{this.answerChoice}}</p>
            <div class="darken-cards next card__face card__face--front">
              <img class="cardImg" src="{{this.imgLink}}"  data-answer_id={{this.id}}></img>
            </div>
          </div>
        </Button>
      </li>
    {{/each}}
  </ul>
</div>

<div id="parentLocation-container" style="display: none;">
</div>

<div id="childAnswer-container" style="display: none;">
</div>

<div id="childLocation-container" style="display: none;">
</div>

{{else}}
<a href="/login" class="login-button">CLICK HERE TO START YOUR ADVENTURE</a>
{{/if}}

<script type="module" src="/js/homepage.js"></script>
<script type="module" src="/js/homepage2.js"></script>
<script type="module" src="/css/style.css"></script>
<script type="module" src="/js/background.js"></script>

