{{!-- Shows all questions --}}
{{!-- {{#each questions}}
  <h2>Question: {{this.question}}</h2>
  <ul>
    {{#each this.answers}}
      <li>Answer: {{this.answerChoice}}</li>
    {{/each}}
  </ul>
{{/each}} --}}

{{!-- Shows first quesiton --}}
<h2>Question: {{questions.[0].question}}</h2>
<ul>
  {{#each questions.[0].answers}}
    <button>Answer: {{this.answerChoice}}</button>
    <li>Location Title: {{this.location.locationTitle}}</li>
    <li>Location Data: {{this.location.locationData}}</li>
  {{/each}}
</ul>


<script src="/js/homepage2.js"></script>
{{!-- <script src="/js/logic.js"></script> --}}
