<div class="slide" data-user_id="{{user.id}}">
</div>

{{!-- Shows first question --}}
<div id="parentAnswer-container">
  <h2 class="main-question">Question: {{questions.[8].question}}</h2>
  <ul class="answerChoices">
    {{#each questions.[8].answers}}
      <li class="parentAnswer">
        <Button class="card">
          <div class="content-container">
            <p>{{this.answerChoice}}</p>
            <div class="darken-cards next card__face card__face--front">
              <img class="cardImg" src="{{this.imgLink}}"  data-answer_id={{this.id}}></img>
            </div>
          </div>
        </Button>
        {{!-- <ul>
          <li>Location Title: {{this.location.locationTitle}}</li>
          <li>Location Data: {{this.location.locationData}}</li>
          {{#if this.ChildAnswers}}
            <ul>
              {{#each this.ChildAnswers}}
                <li>
                  <Button class="next" data-answer_id={{this.id}}>Child Answer Choice: {{this.answerChoice}}</Button>
                  <ul>
                    <li>Child Location Title: {{this.location.locationTitle}}</li>
                    <li>Child Location Data: {{this.location.locationData}}</li>
                  </ul>
                </li>
              {{/each}}
            </ul>
          {{/if}}
        </ul> --}}
      </li>
    {{/each}}
  </ul>
</div>

<div id="parentLocation-container" style="display: none;">
  {{!-- <button class="continue">Continue</button> --}}
</div>

<div id="childAnswer-container" style="display: none;">
</div>

<div id="childLocation-container" style="display: none;">
</div>

<script src="/js/homepage.js"></script>
<script type="module" src="/js/homepage2.js"></script>
{{!-- <script src="/js/logic.js"></script> --}}
